<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/header.ejs %>

        <h1>Coffee</h1>
        <a href="/shop/new">Create New Product</a>
        <ul>
            <% for(let i = 0; i < shop.length; i++){ %>
                <div>
                    <%=shop[i].name; %><br>
                    <%=shop[i].notes %><br>
                    <a href="/shop/<%=shop[i].id%>">
                        <%=shop[i].img%><br>
                    </a>
                    <form action="/shop/<%=shop[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                </div>
            <% } %>
        </ul>
        <a href="/">Back</a>

    <% include ./partials/foot.ejs %>
    </body>
</html>